layout {
  pane split_direction="vertical" {
    pane name="top-left" {
      command "bash"
      args "-lc" "cd $HOME && exec bash"
    }
    pane name="bottom-left" {
      command "bash"
      args "-lc" "cd $HOME && exec bash"
    }
  }
  pane split_direction="vertical" {
    pane name="top-right" {
      command "bash"
      args "-lc" "cd $HOME && exec bash"
    }
    pane name="bottom-right" {
      command "bash"
      args "-lc" "cd $HOME && exec bash"
    }
  }
}

